.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
/* button */
.btn{
  padding: 15px;
  background-color: rgb(134, 9, 9);
  color: yellow;
  font-family: sans-serif;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 5px;

}
.div_button{
  text-align: center;
}
.btn:hover{
  background-color: rgb(187, 21, 21);
  color: yellow;
}